body{

    background-color: black;
}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}


.movie-cards{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 0.5vw;
    margin-left: 5%;
    margin-right: auto;
}

.movie-cards div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.card{
    background-color: rgb(112, 64, 183);
    height: 60vh;
    border-radius: 10%;
    width: 80%;
}