body{

    background-color: rgb(0, 0, 0);
}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 5vw;
    color: white;
}




.movie-cards{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 0.5vw;
    margin-left: 5%;
    margin-right: auto;
}

.movie-cards div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.card{
    background: linear-gradient(to  right, black 2%, red 25%, rgb(255, 0, 0) 25%, rgba(255, 0, 0, 0.858) 25% ,blue 50% );
    height: 60vh;
    border-radius: 10%;
    width: 80%;
}

.card h1{

    color: white;
}

.description{
    color:white; 
    text-align: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}